<!DOCTYPE html>
<html>
<head>
  <title>Ensemble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta charset="UTF-8" />
<link rel="stylesheet" href="https://rawgithub.com/krzysztofbialek/Rails-Girls-Warsaw-App/master/style.css" />
<body background="http://famouswonders.com/wp-content/uploads/2010/02/Gao.jpg" >
</head>

<body>

<h1> Ensemble</h1>
	<h2> Edit this entry</h2>
<%= form_for(@entry) do |form| %>
			<p><%= form.label("NGO") %></p>
			<%= form.text_field("NGO") %>
			<p><%= form.label("Name") %></p>
			<%= form.text_field("Name") %>
			<p><%= form.label("Position") %></p>
			<%= form.text_field("Position") %>
			<p><%= form.label("Address") %></p>
			<%= form.text_field("Address") %>
			<p><%= form.label("Email") %></p>
			<%= form.text_field("Email") %>
		<p><%= form.submit %></p>
<% end %>



<table border ="2" align="center">
	<tr>
		<td><%= link_to("Back to this entry", entry_path(@entry)) %></td>
		<td><%= link_to("Back to the main page", root_path) %></td>           
		<td><%= link_to("Back to all entries", entries_path) %></td>
	</tr>
</table>

</body>
</html>
