<!doctype html>
<html>

<title> Ensemble </title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="https://rawgithub.com/krzysztofbialek/Rails-
Girls-Warsaw-App/master/style.css" />

<body background="http://paradiseintheworld.com/wp-content/uploads/2012/01/dogon-country-mali.jpg" >




<h3><%=@entry.NGO %></h3>
<p><%= @entry.Name %></p>
<p><%= @entry.Position %></p>
<p><%= @entry.Address %></p>
<p><%= @entry.Email %></p>

