<!doctype html>
<html>


<!doctype html>
<html>

<head>
	<title> Ensemble </title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://rawgithub.com/krzysztofbialek/Rails-Girls-Warsaw-App/master/style.css" />
	<body background="http://famouswonders.com/wp-content/uploads/2010/02/Gao.jpg" >

	<style>
		h1 {text-align:center; color:grey;}
		h2 {text-align:center; color:grey;}
		p {text-align:center;color:grey}
		th {color:grey;}
		td {color:grey;}
	</style>
</head>



<body>
<div style="width:90%">

	<h1 style="text-align: center;text-justify: inter-word; color:grey" > +Ensemble </h1>
	<h2 style="text-align: justify;text-justify: inter-word;color:grey">a non-profit online aggregator and disseminator of information and resources on projects tackling social issues in Mali. </h2>

	<div style= position: relative; height:600px; width:80%; padding: 10px;>

		<h1> Connect yourself! </h1>    	
			<%= form_for(Entry.new) do |form| %>
			<p><%= form.label("NGO") %></p>
			<%= form.text_field("NGO") %>
			<p><%= form.label("Name") %></p>
			<%= form.text_field("Name") %>
			<p><%= form.label("Position") %></p>
			<%= form.text_field("Position") %>
			<p><%= form.label("Address") %></p>
			<%= form.text_field("Address") %>
			<p><%= form.label("Email") %></p>
			<%= form.text_field("Email") %>
			<%= form.submit %>
  			<% end %>
	</div>

	<div style= position: relative; height:600px; width:80% padding: 10px;>  
		<p><%= link_to("Check all entries", entries_path) %></p>
	</div>


	<div style= position: relative; height:600px; width:80% padding: 10px;>  
			<h2> Check who is already in!</h2>
			<iframe  src="https://mapsengine.google.com/map/u/0/embed?mid=z2kODqsCRFUw.kGlX067Unzqk" </iframe>
	</div>


</div>

</html>
