<!doctype html>
<html>

<title> Ensemble </title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="https://rawgithub.com/krzysztofbialek/Rails-
Girls-Warsaw-App/master/style.css" />

<body background="http://paradiseintheworld.com/wp-content/uploads/2012/01/dogon-country-mali.jpg" >


<h1>  </h1>
<div style="width:700px">
<h2 style="text-align: justify;text-justify: inter-word; " > +Ensemble: is a non for profit online aggregator and disseminator of information and resources on projects tackling social issues in Mali.</h2>
<p>16.11.2014</p>

<h2> Already Connected with +Ensemble</h2>
<% for entry in @entries %>
<h3><%= entry.NGO %></h3>
<p><%= entry.Name %></p>
<p><%= entry.Position %></p>

<% end %>

</body>


<%= form_for(Entry.new) do |form| %>
<p><%= form.label("NGO") %></p>
<p><%= form.text_field("NGO") %></p>
<p><%= form.label("Name") %></p>
<p><%= form.text_area("Name") %></p>

<p><%= form.label("Position") %></p>
<p><%= form.text_area("Position") %></p>

<p><%= form.label("Address") %></p>
<p><%= form.text_area("Address") %></p>

<p><%= form.label("Email") %></p>
<p><%= form.text_area("Email") %></p>



<p><%= form.submit %></p>
<% end %>
<p><%= link_to("Back to all entries", entries_path) %></p>



</html>
